<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Calendar</div>
    <div class="page__content shadow p-3 position-relative">
      <input class="form-control" type="text" id="newAttributeTitle" [(ngModel)]="newAttribute.title" name="newAttributeTitle" />
      <input class="form-control" type="text" id="newAttributeDate" [(ngModel)]="newAttribute.date" name="newAttributeDate" />
      <button type="button" (click)="addFieldValue()">Add</button>
      <div>
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>