<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Calendar</div>
    <div class="page__content shadow p-3 position-relative">
      <div>
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <div class="modal-header">
              <h4 class="modal-title align-center"></h4>
            </div>
            
            <div class="modal-body">
              <div [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
                <div class="row">
                   <div class="col-sm-12">
                      <div class="form-group">
                            <label>Event Title</label>
                            <input placeholder="Add Event Title" type="text" formControlName="title" class="titleinp form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                  <div *ngIf="f.title.errors.required">Title is required</div>
                            </div>
                         </div>
                   </div> 
                   <div class="col-sm-12">
                    <div class="form-group">
                          <label>Event Date:</label>
                          <div class="form-control eventstarttitle"></div>
                       </div>
                 </div> 
                </div>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
              </div>
             </div>
           </div>
         </div>
       </div>
    </div>
  </div>