<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Calendar</div>
  <div class="page__content shadow p-3 position-relative">
      <div>
        Check this box to delete an event:
        <input type="checkbox"  id="isCheckBox" (change)="checkingDeleteButton($event)"/>
        <span *ngIf="checkbox">(Click on an event to delete it)</span>
        <full-calendar id="calender" [options]="calendarOptions"></full-calendar>
      </div>
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <div class="modal-header">
              <h4 class="modal-title align-center"></h4>
              <button type="button" class="close" (click)="hideForm()" data-dismiss="modal">&times;</button>
            </div>
            
            <div class="modal-body">
              <div [formGroup]="addEventForm">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                            <label>Event Title</label>
                            <input placeholder="Add Event Title" type="text" formControlName="title" class="titleinp form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }"/><br>
                            <input placeholder="Enter a Color" type="text" class="titleinp form-control" [(ngModel)]="colorChoice" [ngModelOptions]="{standalone: true}"/>
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                  <div *ngIf="f.title.errors?.required">Title is required</div>
                            </div>
                    </div> 
                   <div class="col-sm-12">
                      <div class="form-group">
                          <label>Event Date:</label>
                          <div class="form-control eventstarttitle"></div>
                      </div>
                   </div>
                  </div> 
                </div>
                <button type="button" class="btn btn-primary" (click)="onSubmit()" style="margin-right: 15px;">Submit</button>
              </div>
           </div>
         </div>
       </div>
  </div>
</div>