<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="flexExpand"></span>

    <div class="row mr-2 ml-auto">
      <ul class="row m-0 align-items-center">
        <li>
          <button id="menuBtn" mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
            <!-- <img src="./assets/User.png" alt="" class="user-image mr-1 p-2" /> -->
            <mat-icon>account_circle</mat-icon>
              {{ getUsername() }}
            <!-- class="user-image-icon ml-1" -->
            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu" >
            <div *ngIf="loggedIn">
            <button mat-menu-item routerLinkActive="list-item-active" routerLink="/profile">
              <mat-icon>account_circle</mat-icon>
              Profile
            </button>
            <!-- <button mat-menu-item routerLinkActive="list-item-active" routerLink="/profile-settings">
              <mat-icon>settings</mat-icon>
              Settings
            </button> -->
            <button id="logout" (click)="logout()" mat-menu-item routerLink="/login">
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </div>

          <div *ngIf="!loggedIn">
            <button id="registerBtn" mat-menu-item routerLinkActive="list-item-active" routerLink="/registration">
              <mat-icon>mode_edit</mat-icon>
              Register
            </button>

            <button mat-menu-item routerLinkActive="list-item-active" routerLink="/login">
              <mat-icon>login</mat-icon>
              Login
            </button>
          </div>

          </mat-menu>
        </li>
      </ul>
    </div>

    <div class="row mr-2 ml-auto" *ngIf="loggedIn">
      <ul class="row m-0 align-items-center">
        <li>
          <button id="accountType" mat-icon-button (click)="toggleSidebar()" class="user mt-2 d-flex align-items-center" [disabled]="true" style="color: black;">
            {{ setAccountType() }}
          </button>
        </li>
      </ul>
    </div>

  </mat-toolbar-row>
</mat-toolbar>