<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/companyLogo.PNG" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard" *ngIf="!isGuest()">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/calendar">
    <mat-icon>today</mat-icon> Calendar
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/scheduling" *ngIf="!isGuest()">
    <mat-icon>schedule</mat-icon> Scheduling
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/analytics"
      *ngIf="isManager()"> 
    <mat-icon>access_time</mat-icon> Analytics 
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/login" *ngIf="isGuest()"> 
    <mat-icon>login</mat-icon> Login
  </a>
  
</mat-nav-list>
