<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Tutoring Analytics</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="container-fluid col-10">
        <h1 class="my-5">Analytics</h1>
        <div class="row">
          <div class="col">
            <button (click)=showTutorDemand()>Tutor Demand</button>
          </div>
          <div class="col">
            <button (click)=showCourseDemand()>Course Demand</button>
          </div>
          <div class="col">
            <button (click)=showStudentVisits()>Time Demand</button>
          </div>
        </div>

        <div class="row" *ngIf="showingTutorDemand">
          <h3 class="my-5">Tutor Demand</h3>
          <table class="table table-border text-center">
            <thead class="thead">
              <th scope="col" class="col-2">Tutor</th>
              <th scope="col" class="col-2"># Of Sessions</th>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let key of getAnalysis().keys()"></td>
                <td *ngFor="let val of getAnalysis().values()"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row" *ngIf="showingCourseDemand">
          <h3 class="my-5">Course Demand</h3>
        </div>

        <div class="row" *ngIf="showingStudentVisits">
          <h3 class="my-5">Student Visits</h3>
        </div>
      </div>
    </div>
</div>  