<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Scheduling</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="col-md-6">
          <label for="inputCriteria2" class="visually-hidden">Criteria</label>
          <input type="text" class="form-control" id="inputCriteria2" placeholder="Enter Criteria">
          <button type="button" class="btn btn-primary sm-3">Search for Tutors</button>

          <h2>Tutors List</h2>
            <ul class="tutors">
              <li *ngFor="let tutor of tutors"
                  [class.selected]="tutor === selectedTutor"
                  (click)="onSelect(tutor)">
                <span class="badge">{{tutor.id}}</span> {{tutor.name}}
              </li>
            </ul>

            <div *ngIf="selectedTutor">

            <h2>{{selectedTutor.name | uppercase}} Details</h2>
            <div><button>Schedule Tutoring Session</button><br>
              <span>id: </span>{{selectedTutor.id}} 
            </div>


          </div>
                </div>
              </div>
            </div>
