<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Tutoring Summary</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute">
        <!-- TODO: Add variable for the profile's owner -->
        <h2>(Kevin Leader's Tutor) Profile</h2>
        <!-- TODO: Check for account type to determine what to show on profile -->
        <h3>First Name</h3>
        <p id="first_name">Kevin</p>

        <h3>Last Name</h3>
        <p id="last_name">Leader</p>

        <h3>School Email</h3>
        <p id="school_email">kileader@bestcollege.edu</p>

        <h3>Phone Number</h3>
        <p id="phone_number">123-465-2567</p>

        <h3>Weekly Schedule</h3>

        <h4>Sunday</h4>
        <p id="sunday">Unavailable</p>
        <!-- p id="sunday" gets its innerHTML set to unavailable if start and end are null -->

        <h4>Monday</h4>
        <p id="monday"><span id="monday_start">8:00 AM</span> to <span id="monday_end">2:00 PM</span></p>

        <h4>Tuesday</h4>
        <p id="tuesday"><span id="tuesday_start">8:00 AM</span> to <span id="tuesday_end">11:30 AM</span></p>
      </div>
    </div>
  </div>

