<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Register</div>
    <div class="page__content shadow p-3 position-relative">
      <!-- <div class="page__content-data position-absolute"> -->

        <!-- <div class="card"> -->
            <!-- <h4 class="card-header">Register</h4> -->
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <h5><label for="inputFirstName" class="form-label">First Name</label></h5>
                      <input type="text" class="form-control" aria-label="First name" [(ngModel)]="inputFirstName">
                    </div>

                    <div class="col-md-6">
                        <h5><label for="inputLastName" class="form-label">Last Name</label></h5>
                      <input type="text" class="form-control" aria-label="Last name" [(ngModel)]="inputLastName">
                    </div>

                    <!-- <div class="col-md-6">
                        <h5><label for="inputUsername" class="form-label">Username</label></h5>
                        <input type="text" class="form-control" id="inputUsername">
                    </div> -->

                    <!-- <div class="col-md-6">
                        <h5><label for="inputEmail" class="form-label">School Email</label></h5>
                        <input type="text" class="form-control" id="inputEmail" >
                      </div> -->

                      <div class="col-md-6">
                        <h5><label for="inputUsername" class="form-label">Email</label></h5>
                      <div class="input-group mb-6">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="inputEmail">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2">@school.edu</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                        <h5><label for="inputTelephone" class="form-label">Telephone</label></h5>
                        <input type="tel" class="form-control" id="inputTelephone" placeholder="555-555-5555" [(ngModel)]="inputTelephone">
                    </div>

                    <div class="col-md-6">
                      <h5><label for="inputPassword" class="form-label">Password</label></h5>
                      <input type="password" class="form-control" id="inputPassword" [(ngModel)]="inputPassword">
                    </div>    
                    
                    <div class="col-md-6 selectoring" >
                        <!-- <h5><label for="inputPassword" class="form-label">hj</label></h5> -->
                        <br>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Account Type</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="accountTypeId">
                              <option selected>Choose...</option>
                              <option value="1">Student</option>
                              <option value="2">Tutor</option>
                              <option value="3">Manager</option>
                            </select>
                          </div>
                      </div>

                    <div class="form-group">
                        <button (click)="register()" class="btn btn-primary">
                            <span class=" spinner-border-sm mr-1"></span>
                            Register
                        </button>
                        <a routerLink="../login" class="btn btn-link">Cancel</a>
                    </div>
            </div>
        <!-- </div> -->
        
      <!-- </div> -->
    </div>
  </div>
